html, body {
  height: 100%;
}

body {
  background-color: #1d1e22;
}

svg {
    display: inline-block;
    background-color: black;
    margin: 20 px;
    height: 300px;
}

path {
    fill: transparent;
    stroke: white;
    stroke-width: 2;
}

path:hover {
    animation: draw 16s ease infinite alternate;
    fill: transparent;
    cursor: none;
  	stroke-dasharray: 700;
}

@keyframes draw {
			0%,10% { 
				stroke-dashoffset: 700;
			}

			100% { 
				stroke-dashoffset: 0;
			}
		}
