html, body {
  height: 100%;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}

body {
  background-color: #1d1e22;
}

svg {
    display: inline-block;
    background-color: black;
    margin: 60px;
    height: 260px;
}

path {
    fill: transparent;
    stroke: white;
    stroke-width: 2;
}

svg:hover path {
    animation: draw 16s ease infinite alternate;
    fill: transparent;
    cursor: none;
    stroke-dasharray: 700;
}

@keyframes draw {
			0%,10% { 
				stroke-dashoffset: 700;
			}

			100% { 
				stroke-dashoffset: 0;
			}
		}
