html, body {
  height: 100%;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

body {
  background-color: #1d1e22;
}

svg {
    display: inline-block;
    background-color: black;
    margin: 80px;
    height: 260px;
}

path {
    fill: transparent;
    stroke: white;
    stroke-width: 2;
}

svg:hover path {
    animation: draw 16s ease infinite alternate;
    fill: transparent;
    cursor: none;
    stroke-dasharray: 700;
}

@keyframes draw {
    0%,10% {stroke-dashoffset: 700;}
    100%   {stroke-dashoffset: 0;}
}

#specchietto {
    position: fixed;
    background-color: black;
    padding: 10vw;
    height: 80vw;
    left: 90vw;
    color: white;
}

#specchietto:hover {
    left: 60vw;
}

.etichetta {
    font-size: 24px;
}

.campione {
  font-size: 64px;
  height: 80px;
  width: 20vw;
  margin-top: 10px;
  margin-bottom: 30px;
}
